.small-text {
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.headerimg {
  margin: 10px auto;
  display: block;
  text-align: center;
}
ion-row {
  align-items: center;
  text-align: center;
}
.logo-row {
  padding-top: 75px;
  padding-bottom: 30px;
}
